//colours
$female-color: #FE0557;
$male-color: #0AABBA;
$brand-color: #FE8B05;

//typography
$type: "museo-sans-rounded";

//typography scale
$base: 18px;
$type6: $base * 0.84;
$type5: $base;
$type4: $base * 1.19;
$type3: $base * 1.414;
$type2: $base * 1.68;
$type1: $base * 2;

//metrics
$content-width: 980px;