<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
        <meta content="en" http-equiv="Content-Language">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/screen.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <script type="text/javascript" src="//use.typekit.net/lyu3glx.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="/js/geo.js"></script>
        <script src="/radarCircle.js"></script>
	</head>
  <body>
    <%= yield %>
  </body>
</html>